
body {
  background-color: #16afa8;
  font-family: "Comic Sans MS", sans-serif;
  line-height: 1.2;
  text-align: center;
  padding: 40px 0 0 20px;
}
h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #0c2cbd;
}
.comic {
  max-width: 826px;
  margin: 60px auto 0;
}

.comic2 {
  max-width: 826px;
  margin: 60px auto 0;
}

.comic3 {
  max-width: 826px;
  margin: 60px auto 0;
}

.comic4 {
  max-width: 826px;
  margin: 60px auto 0;
}

.scenee {
  width: 250px;
  height: 250px;
  border: 3px solid black;
  background: #39bdab;
  margin: 8px;
  display: inline-block;
  position: relative;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

.jsp {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

.scene {
  width: 250px;
  height: 250px;
  border: 3px solid black;
  background: white;
  margin: 8px;
  display: inline-block;
  position: relative;
}

.chelou {
  border: 3px solid rgb(85, 30, 189);
  border-radius: 0% 100% 0% 100% / 64% 36% 64% 36% 
}
.fille {
  border-radius: 0% 100% 0% 100% / 64% 36% 64% 36%   

}

.scene img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
}
.caption {
  padding: 10px;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  background: #e2e971;
  text-align: left;
  top: 0;
}
.caption.bottom {
  bottom: 0;
  top:auto;
  border-top: 2px solid black;
}
.caption.top {
  top: auto;
  border-bottom: 2px solid black;
}
.speech {
  width: 40%;
  border-radius:50%;
  border: 2px solid black;
  margin: 0;
  position: absolute;
  z-index: 1;
  background: rgb(255, 254, 254) ;
  padding: 20px;
  top: -15px;
  text-align: center;
}


.speech:after {
  border-color: snow transparent;
  border-style: solid;
  border-width: 13px 13px 0;
  bottom: -11px;
  content: "";
  display: block;
  left: 50%;
  margin-left:-14px;
  position: absolute;
  width: 0;
}
.speech:before {
  border-color: black transparent;
  border-style: solid;
  border-width: 16px 16px 0;
  bottom: -15px;
  content: "";
  display: block;
  left: 50%;
  margin-left:-17px;
  position: absolute;
  width: 0;
}
.speech.left {
  left:-15px;
}
.speech.right {
  right:-15px;
}
footer {
  clear: both;
}

.scenes{
  width: 250px;
  height: 250px;
  border: 3px solid black;
  background: white;
  margin: 8px;
  display: inline-block;
  position: relative;
  border-radius: 71% 29% 70% 30% / 56% 38% 62% 44%; 
}

.ov{
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
  border-radius: 71% 29% 70% 30% / 56% 38% 62% 44%; 
}

.comic7{
  max-width: 826px;
  margin: 60px auto 0;
}